In [1]:
# To Do
# Clean the OEDC dataset [Restrict to records between 2000 and 2020, remove duplicates, swap the three letter country code for the countries full name]
# Combine the WHO and OECD datasets
#Implement the cleaning procedure as a python script

In [2]:
# Importing Dependencies
import pandas as pd
import os

### Cleaning the WHO Mortality Dataset
* Contains records from 1988 to 2020 on causes of death
* Some records in the "Sex" column are unspecified, coded as a 9. For our purposes we will remove these records
*

In [3]:

# Cycle through the different parts of the Morticd and combine them into a single dataframe
dirLoc = 'Resources' #filepath of the directory
df = pd.DataFrame()

for file in os.scandir(dirLoc):
    if "Morti" in file.path: # Only append files from the Mortality Datasets
        df = df.append(pd.read_csv(file.path,))

c:\Users\daypa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\Users\daypa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Removing records with value 9
df["Sex"].value_counts() # There are 20,701 records with the 9 value in the sex field which refers to other

# Creating new dataframe wihtout 9 values in the Sex field
df_Removed9 = df[df["Sex"] != 9]

df_Removed9["Sex"].value_counts() # 9 values removed from the original dataset

1    2358126
2    2127394
Name: Sex, dtype: int64

In [5]:
df_Removed9.head(10)

,Country,Admin1,SubDiv,Year,List,Cause,Sex,Frmat,IM_Frmat,Deaths1,...,Deaths21,Deaths22,Deaths23,Deaths24,Deaths25,Deaths26,IM_Deaths1,IM_Deaths2,IM_Deaths3,IM_Deaths4
0,1400,NaN,NaN,2001,101,1000,1,7,8,332,...,95.0,NaN,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN
1,1400,NaN,NaN,2001,101,1000,2,7,8,222,...,112.0,NaN,NaN,NaN,NaN,0.0,11.0,NaN,NaN,NaN
2,1400,NaN,NaN,2001,101,1001,1,7,8,24,...,5.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,1400,NaN,NaN,2001,101,1001,2,7,8,14,...,6.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,1400,NaN,NaN,2001,101,1002,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
5,1400,NaN,NaN,2001,101,1002,2,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
6,1400,NaN,NaN,2001,101,1003,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
7,1400,NaN,NaN,2001,101,1003,2,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
8,1400,NaN,NaN,2001,101,1004,1,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
9,1400,NaN,NaN,2001,101,1004,2,7,8,0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [6]:
#Removing uneccesary columns
df_excised_cols = df_Removed9[["Country","Year","Cause","Sex","Deaths1"]]

In [7]:
df_excised_cols #Looks like the process took long due to some syntax error.

        Country  Year Cause  Sex  Deaths1
0          1400  2001  1000    1      332
1          1400  2001  1000    2      222
2          1400  2001  1001    1       24
3          1400  2001  1001    2       14
4          1400  2001  1002    1        0
...         ...   ...   ...  ...      ...
610179     5020  2020  Y870    2        1
610180     5020  2020  Y871    1        3
610181     5020  2020  Y883    2        1
610182     5020  2020  Y899    1        1
610183     5020  2020  Y899    2        1

[4485520 rows x 5 columns]

In [8]:
minYear = min(df_excised_cols['Year'])
maxYear = max(df_excised_cols['Year'])
print(minYear , maxYear)
# Observing the Scope of the Mortality Dataset  (1988 - 2020)
# Scope of the Meat Consumption ddDataset is 1990 - 2029
# We can limit the size of the datsets within the years 2000 and 2020
# Need to consider ways of improving write speed of Dataframe to PSQL database
# Try batch uploading to the SQL database

1988 2020

In [9]:
# removing all records that precede 2000
df_2000 = df_excised_cols[df_excised_cols["Year"] >= 2000]
df_2000

        Country  Year Cause  Sex  Deaths1
0          1400  2001  1000    1      332
1          1400  2001  1000    2      222
2          1400  2001  1001    1       24
3          1400  2001  1001    2       14
4          1400  2001  1002    1        0
...         ...   ...   ...  ...      ...
610179     5020  2020  Y870    2        1
610180     5020  2020  Y871    1        3
610181     5020  2020  Y883    2        1
610182     5020  2020  Y899    1        1
610183     5020  2020  Y899    2        1

[4039092 rows x 5 columns]

In [10]:
df_2000.count() # There are no null values
df_2000.dtypes # Columns Cause, Sex, and Country dont seem to be the datatype we need them to be

# We can explicitly assign the string datatype to the Cause column
df_2000['Cause'] = df_2000['Cause'].astype('string')
df_2000['Country'] = df_2000['Country'].astype('string')

df_2000.dtypes # The Cause Column is now string

<ipython-input-10-b930332a3958>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2000['Cause'] = df_2000['Cause'].astype('string')
<ipython-input-10-b930332a3958>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2000['Country'] = df_2000['Country'].astype('string')

Country    string
Year        int64
Cause      string
Sex         int64
Deaths1     int64
dtype: object

## WHO Country and Cause of Death Coding
The world health organization codes the causes of death and the country of origin using their mapping which is specified in tables in the Mortality dataset documentation.
I need to map the value of the codes to our clean dataset

In [11]:
# mapping the country name to the dataset using the WHO_Country_Map.csv file
# Read up on the .map() documentation in pandas

# Reading in the WHO country map as a dictionary
import csv

Code_To_Country = {}

with open('Resources/WHO_Country_Map.csv', mode = 'r') as file:
    reader = csv.reader(file)
    Code_To_Country = {rows[0] : rows[1] for rows in reader}

In [12]:
Code_To_Country
Code_To_Country.pop('country') # removing the header from the map


#apply the Code_To_Country map to the "Country" series in df_2000
df_2000['Country'] = df_2000['Country'].map(Code_To_Country)

<ipython-input-12-947fb4adf249>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2000['Country'] = df_2000['Country'].map(Code_To_Country)

In [13]:
df_2000

           Country  Year Cause  Sex  Deaths1
0       Seychelles  2001  1000    1      332
1       Seychelles  2001  1000    2      222
2       Seychelles  2001  1001    1       24
3       Seychelles  2001  1001    2       14
4       Seychelles  2001  1002    1        0
...            ...   ...   ...  ...      ...
610179   Australia  2020  Y870    2        1
610180   Australia  2020  Y871    1        3
610181   Australia  2020  Y883    2        1
610182   Australia  2020  Y899    1        1
610183   Australia  2020  Y899    2        1

[4039092 rows x 5 columns]

In [14]:
OECD_df = pd.read_csv('Resources/OECD_Meat_Consumption.csv')

In [15]:
OECD_df.head()

  LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME   Value  Flag Codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000         NaN
1      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.942         NaN
2      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.405         NaN
3      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.370         NaN
4      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.662         NaN

In [16]:
# Cleaning tasks for the OECD dataset

OECD_df['MEASURE'].value_counts() # Includes records in Thousand Tonnes and KG per Capita
# Suggest removing the records in Thousand tonnes

print(OECD_df['TIME'].min())
print(OECD_df['TIME'].max())
# Reduce the time range to 2000 - 2020

# irrelevant columns: Frequency and flag codes

1990
2029

In [17]:
# Cleaning the OECD dataset
OECD_df.drop(['FREQUENCY', 'Flag Codes'],axis = 1,inplace = True) # Removed the Frequency and Flag Codes Columns

In [18]:
OECD_df = OECD_df[OECD_df['TIME'] >= 2000]
OECD_df = OECD_df[OECD_df['TIME'] <= 2020]
max_year = OECD_df['TIME'].max()
min_year = OECD_df['TIME'].min()

print(f'{min_year} To {max_year}')

# Reducing the scope of time to fit the range 2000 to 2020

2000 To 2020

In [19]:
OECD_df = OECD_df[OECD_df['MEASURE'] != 'THND_TONNE']

In [20]:
OECD_df['MEASURE'].unique()

array(['KG_CAP'], dtype=object)

In [30]:
# Reading in the country code map
Codes_df = pd.read_csv('Resources/ISO_Alpha3_Country_Codes.csv')
Codes_df.head()

           ountry Alpha-3 code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [52]:
Alpha3_To_Country = {}
import chardet

with open('Resources/ISO_Alpha3_Country_Codes.csv', 'r', encoding = 'cp1252') as file:
    reader = csv.reader(file)
    Alpha3_To_Country = {row[0] : row[1] for row in reader }

In [53]:
Alpha3_To_Country

{'ountry': 'Alpha-3 code',
 'Afghanistan': 'AFG',
 'Albania': 'ALB',
 'Algeria': 'DZA',
 'American Samoa': 'ASM',
 'Andorra': 'AND',
 'Angola': 'AGO',
 'Anguilla': 'AIA',
 'Antarctica': 'ATA',
 'Antigua and Barbuda': 'ATG',
 'Argentina': 'ARG',
 'Armenia': 'ARM',
 'Aruba': 'ABW',
 'Australia': 'AUS',
 'Austria': 'AUT',
 'Azerbaijan': 'AZE',
 'Bahamas (the)': 'BHS',
 'Bahrain': 'BHR',
 'Bangladesh': 'BGD',
 'Barbados': 'BRB',
 'Belarus': 'BLR',
 'Belgium': 'BEL',
 'Belize': 'BLZ',
 'Benin': 'BEN',
 'Bermuda': 'BMU',
 'Bhutan': 'BTN',
 'Bolivia (Plurinational State of)': 'BOL',
 'Bonaire, Sint Eustatius and Saba': 'BES',
 'Bosnia and Herzegovina': 'BIH',
 'Botswana': 'BWA',
 'Bouvet Island': 'BVT',
 'Brazil': 'BRA',
 'British Indian Ocean Territory (the)': 'IOT',
 'Brunei Darussalam': 'BRN',
 'Bulgaria': 'BGR',
 'Burkina Faso': 'BFA',
 'Burundi': 'BDI',
 'Cabo Verde': 'CPV',
 'Cambodia': 'KHM',
 'Cameroon': 'CMR',
 'Canada': 'CAN',
 'Cayman Islands (the)': 'CYM',
 'Central African Republic (the)': 'CAF',
 'Chad': 'TCD',
 'Chile': 'CHL',
 'China': 'CHN',
 'Christmas Island': 'CXR',
 'Cocos (Keeling) Islands (the)': 'CCK',
 'Colombia': 'COL',
 'Comoros (the)': 'COM',
 'Congo (the Democratic Republic of the)': 'COD',
 'Congo (the)': 'COG',
 'Cook Islands (the)': 'COK',
 'Costa Rica': 'CRI',
 'Croatia': 'HRV',
 'Cuba': 'CUB',
 'Curaçao': 'CUW',
 'Cyprus': 'CYP',
 'Czechia': 'CZE',
 'Côte d’Ivoire': 'CIV',
 'Denmark': 'DNK',
 'Djibouti': 'DJI',
 'Dominica': 'DMA',
 'Dominican Republic (the)': 'DOM',
 'Ecuador': 'ECU',
 'Egypt': 'EGY',
 'El Salvador': 'SLV',
 'Equatorial Guinea': 'GNQ',
 'Eritrea': 'ERI',
 'Estonia': 'EST',
 'Eswatini': 'SWZ',
 'Ethiopia': 'ETH',
 'Falkland Islands (the) [Malvinas]': 'FLK',
 'Faroe Islands (the)': 'FRO',
 'Fiji': 'FJI',
 'Finland': 'FIN',
 'France': 'FRA',
 'French Guiana': 'GUF',
 'French Polynesia': 'PYF',
 'French Southern Territories (the)': 'ATF',
 'Gabon': 'GAB',
 'Gambia (the)': 'GMB',
 'Georgia': 'GEO',
 'Germany': 'DEU',
 'Ghana': 'GHA',
 'Gibraltar': 'GIB',
 'Greece': 'GRC',
 'Greenland': 'GRL',
 'Grenada': 'GRD',
 'Guadeloupe': 'GLP',
 'Guam': 'GUM',
 'Guatemala': 'GTM',
 'Guernsey': 'GGY',
 'Guinea': 'GIN',
 'Guinea-Bissau': 'GNB',
 'Guyana': 'GUY',
 'Haiti': 'HTI',
 'Heard Island and McDonald Islands': 'HMD',
 'Holy See (the)': 'VAT',
 'Honduras': 'HND',
 'Hong Kong': 'HKG',
 'Hungary': 'HUN',
 'Iceland': 'ISL',
 'India': 'IND',
 'Indonesia': 'IDN',
 'Iran (Islamic Republic of)': 'IRN',
 'Iraq': 'IRQ',
 'Ireland': 'IRL',
 'Isle of Man': 'IMN',
 'Israel': 'ISR',
 'Italy': 'ITA',
 'Jamaica': 'JAM',
 'Japan': 'JPN',
 'Jersey': 'JEY',
 'Jordan': 'JOR',
 'Kazakhstan': 'KAZ',
 'Kenya': 'KEN',
 'Kiribati': 'KIR',
 'Korea (the Democratic People’s Republic of)': 'PRK',
 'Korea (the Republic of)': 'KOR',
 'Kuwait': 'KWT',
 'Kyrgyzstan': 'KGZ',
 'Lao People’s Democratic Republic (the)': 'LAO',
 'Latvia': 'LVA',
 'Lebanon': 'LBN',
 'Lesotho': 'LSO',
 'Liberia': 'LBR',
 'Libya': 'LBY',
 'Liechtenstein': 'LIE',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Macao': 'MAC',
 'Madagascar': 'MDG',
 'Malawi': 'MWI',
 'Malaysia': 'MYS',
 'Maldives': 'MDV',
 'Mali': 'MLI',
 'Malta': 'MLT',
 'Marshall Islands (the)': 'MHL',
 'Martinique': 'MTQ',
 'Mauritania': 'MRT',
 'Mauritius': 'MUS',
 'Mayotte': 'MYT',
 'Mexico': 'MEX',
 'Micronesia (Federated States of)': 'FSM',
 'Moldova (the Republic of)': 'MDA',
 'Monaco': 'MCO',
 'Mongolia': 'MNG',
 'Montenegro': 'MNE',
 'Montserrat': 'MSR',
 'Morocco': 'MAR',
 'Mozambique': 'MOZ',
 'Myanmar': 'MMR',
 'Namibia': 'NAM',
 'Nauru': 'NRU',
 'Nepal': 'NPL',
 'Netherlands (the)': 'NLD',
 'New Caledonia': 'NCL',
 'New Zealand': 'NZL',
 'Nicaragua': 'NIC',
 'Niger (the)': 'NER',
 'Nigeria': 'NGA',
 'Niue': 'NIU',
 'Norfolk Island': 'NFK',
 'Northern Mariana Islands (the)': 'MNP',
 'Norway': 'NOR',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Palau': 'PLW',
 'Palestine, State of': 'PSE',
 'Panama': 'PAN',
 'Papua New Guinea': 'PNG',
 'Paraguay': 'PRY',
 'Peru': 'PER',
 'Philippines (the)': 'PHL',
 'Pitcairn': 'PCN',
 'Poland': 'POL',
 'Portugal': 'PRT',
 'Puerto Rico': 'PRI',
 'Qatar': 'QAT',
 'Republic of North Macedonia': 'MKD',
 'Romania': 'ROU',
 'Russian Federation (the)': 'RUS',
 'Rwanda': 'RWA',
 'Réunion': 'REU',
 'Saint Barthélemy': 'BLM',
 'Saint Helena, Ascension and Tristan da Cunha': 'SHN',
 'Saint Kitts and Nevis': 'KNA',
 'Saint Lucia': 'LCA',
 'Saint Martin (French part)': 'MAF',
 'Saint Pierre and Miquelon': 'SPM',
 'Saint Vincent and the Grenadines': 'VCT',
 'Samoa': 'WSM',
 'San Marino': 'SMR',
 'Sao Tome and Principe': 'STP',
 'Saudi Arabia': 'SAU',
 'Senegal': 'SEN',
 'Serbia': 'SRB',
 'Seychelles': 'SYC',
 'Sierra Leone': 'SLE',
 'Singapore': 'SGP',
 'Sint Maarten (Dutch part)': 'SXM',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Solomon Islands': 'SLB',
 'Somalia': 'SOM',
 'South Africa': 'ZAF',
 'South Georgia and the South Sandwich Islands': 'SGS',
 'South Sudan': 'SSD',
 'Spain': 'ESP',
 'Sri Lanka': 'LKA',
 'Sudan (the)': 'SDN',
 'Suriname': 'SUR',
 'Svalbard and Jan Mayen': 'SJM',
 'Sweden': 'SWE',
 'Switzerland': 'CHE',
 'Syrian Arab Republic': 'SYR',
 'Taiwan (Province of China)': 'TWN',
 'Tajikistan': 'TJK',
 'Tanzania, United Republic of': 'TZA',
 'Thailand': 'THA',
 'Timor-Leste': 'TLS',
 'Togo': 'TGO',
 'Tokelau': 'TKL',
 'Tonga': 'TON',
 'Trinidad and Tobago': 'TTO',
 'Tunisia': 'TUN',
 'Turkey': 'TUR',
 'Turkmenistan': 'TKM',
 'Turks and Caicos Islands (the)': 'TCA',
 'Tuvalu': 'TUV',
 'Uganda': 'UGA',
 'Ukraine': 'UKR',
 'United Arab Emirates (the)': 'ARE',
 'United Kingdom of Great Britain and Northern Ireland (the)': 'GBR',
 'United States Minor Outlying Islands (the)': 'UMI',
 'United States of America (the)': 'USA',
 'Uruguay': 'URY',
 'Uzbekistan': 'UZB',
 'Vanuatu': 'VUT',
 'Venezuela (Bolivarian Republic of)': 'VEN',
 'Viet Nam': 'VNM',
 'Virgin Islands (British)': 'VGB',
 'Virgin Islands (U.S.)': 'VIR',
 'Wallis and Futuna': 'WLF',
 'Western Sahara': 'ESH',
 'Yemen': 'YEM',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE',
 'Åland Islands': 'ALA'}